body {
    background: linear-gradient(to right, #98b9fe, #DCA8FB, #FDC9CB);  
}

p,li {
    font-size: 20px;
    text-align: justify;
    color: #333;
    font-family: 'Press Start 2P', monospace;
}

.titulo {
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #e15eb3;
}

.subtitulo {
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #833ba5;
    padding: 30px;
}

.caixa-titulo {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid;
    border-color: #fff #e15eb3 #e15eb3 #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.caixa-paragrafo {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 2px solid;
    border-radius: 7px;
    border-color: #fff #808080 #808080 #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.caixa-paralela {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.caixa-link, .lista, .img-caixa {
    padding: 30px;
    margin-bottom: 25px;
    background-color: #f2f2f2;
    border: 2px solid;
    border-color: #fff #808080 #808080 #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.caixa-link a{
    font-family: 'Courier New', monospace;
    cursor: pointer;
}

.caixa-link a:hover{
    color: #e324e0;
}

.lista li {
    margin-bottom: 25px;
}

.img-caixa {
    padding: 10px;
    width: 220px;
}

#minhaimagem {
    width: 220px;
    border-radius: 7px;
}

.tabela {
    margin: 0 auto;
    width: fit-content;
}

.tabela td {
    background-color: #f2f2f2;
    font-family: 'Press Start 2P', monospace;
    border: 2px solid;
    border-radius: 7px;
    border-color: #fff #808080 #808080 #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.tabela td {
    text-align: center;
    padding: 10px;
}

.img-tabela {
    width: 300px;
}

.posicao-botao {
    text-align: center;
    padding: 30px;
}

#botao {
    font-family: 'Courier New', monospace;
    border: 2px solid;
    border-radius: 4px;
    border-color: #ffc3fe #808080 #808080 #ffc3fe;
    background-color: #e324e0;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

#botao:active {
    border-color: #808080 #fff #fff #808080;
    background-color: #fcf693;
    color: #333;
}

.mensagem {
    font-family: 'Courier New', monospace;
    margin-top: 10px;
    background-color: #fcf693;
    color: #333;
    display: inline-block;
}